*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/*Header layout*/
header {
  background-color: #1f2937;
  font-family: "Roboto", sans-serif;
  color: #f9faf8;
}
.headertop {
  padding: 10px 220px 90px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}
ul {
  list-style-type: none;
  display: flex;
  column-gap: 80px;
  align-items: end;
}

a {
  text-decoration: none;
  color: #f9faf8;
}
a:hover {
  cursor: pointer;
}

.headerbody {
  display: flex;
  justify-content: space-between;
  padding: 0px 220px 90px;
}
.hbleft {
  display: flex;
  flex-direction: column;

  width: 100%;
  text-wrap: wrap;
  width: 550px;
}

.htlinks {
  font-size: 18px;
}

.maintitle {
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 5px;
}
.hbsignup {
  padding: 2px 15px;
  border-radius: 4px;
  border: none;
  background-color: #3882f6;
  color: #f9faf8;
  margin-top: 7px;
  font-weight: 600;
  max-width: 100px;
}
.hbsignup:hover {
  cursor: pointer;
}
.hbrimg {
  height: 217px;
  width: 560px;
}
/*SectionTwo cardswith text starts here*/
.sectiontwo {
  padding-top: 10px;
  height: 450px;
}

.sectitle {
  height: 100px;
  padding-bottom: 20px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
}

.card {
  max-width: 150px;
  border-radius: 15px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 4px 5px 10px #080846;
}

.card p {
  padding-top: 5px;
  text-align: center;
}

.cards :nth-child(2) {
  color: #1f2937;
  font-size: 18px;
}

.sectwoimg {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
/*Section three quote*/
.sectionthree {
  max-width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 36px;
  background-color: #e5e7eb;
  color: #1f2937;
}
.quote {
  max-width: 850px;
}

.quote span {
  display: flex;
  justify-content: end;
}
