*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/*Header layout*/
header {
  background-color: #1f2937;
  font-family: "Roboto", sans-serif;
  color: #f9faf8;
}
.headertop {
  padding: 10px 220px 90px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}
ul {
  list-style-type: none;
  display: flex;
  column-gap: 80px;
  align-items: end;
}

a {
  text-decoration: none;
  color: #f9faf8;
}
a:hover {
  cursor: pointer;
}

.headerbody {
  display: flex;
  justify-content: space-between;
  padding: 0px 220px 90px;
}
.hbleft {
  width: 100%;
  text-wrap: wrap;
  width: 550px;
}

.htlinks {
  font-size: 18px;
}

.maintitle {
  font-size: 48px;
  font-weight: 900;
}
.hbsignup {
  padding: 2px 15px;
  border-radius: 4px;
  border: none;
  background-color: #3882f6;
  color: #f9faf8;
  margin-top: 7px;
  font-weight: 600;
}

.hbrimg {
  height: 217px;
  width: 560px;
}
/*SectionTwo cardswith text starts here*/
.sectiontwo {
}

.sectitle {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.cards {
}

.cards :nth-child(2) {
  color: #1f2937;
  font-size: 18px;
}

.sectwoimg {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
